<!-- Heredamos el layout.html -->
{% extends 'layout/layout.html' %} {% block content %}
<section class="d-flex align-items-center flex-column mb-20 mt-10">
  <div class="container mt-3">
    <div class="row flex-grow-1">
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product2-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">ASUS</p>
          <h4 class="product__title text-black text-break">
            ASUS Cylon Intel Core i5-10400/8GB/480GBSSD
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product3-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">Gigabyte</p>
          <h4 class="product__title text-black text-break">
            Gigabyte Intel Core i5-10400/8GB/1TB+480SSD
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product4-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">ASUS</p>
          <h4 class="product__title text-black text-break">
            ASUS Intel Core i5 10400F/16GB/480SSD/1TB/GTX1660S
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
      <div
        class="col-6 col-sm-4 col-md-3 wow animate__animated animate__fadeIn"
      >
        <a href="{{ url_for('product') }}" class="text-decoration-none">
          <img
            src="{{ url_for('static',filename='images/product1-pc.jpg') }}"
            alt=""
            class="w-100"
            loading="lazy"
          />
          <p class="text-black-50 m-0 pt-5 product__brand">MSI</p>
          <h4 class="product__title text-black text-break">
            MSI AMD Ryzen 3 3200G/8GB/240SSD+1TB
          </h4>
          <p class="product__price text-black">500$</p>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
